
ion-icon{
    font-size:350%;
    display: block;
    color:$laranja;
    margin-bottom:10px;
}
.section-features{
    .long-copy{
        margin-bottom: 30px;
    }

}
.feature-container{
    margin: 1% 0 1% 1.6%;
    h3{
        line-height: 1em;
    }
    
    &.col:first-child{
        margin-left: 'none';
    }
}

.temp{
    
}
.box p{
    @include d(s){
        text-align: justify;
    }
}

