<h1>{{name}}</h1>
<label>Pesquisar: </label>
<input type="text" [(ngModel)]="nomePesquisado" placeholder="nome">
<br/>
<table *ngIf="produtos.length > 0" >
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Preco</td>
            <td>Marca</td>
            <td>Validade</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of produtos | filtroPesquisa: nomePesquisado">
            <td>{{prod.id}}</td>
            <td>{{prod.nome}}</td>
            <td>{{prod.preco | moeda}}</td>
            <td>{{prod.marca | uppercase}}</td>
            <td>{{prod.validade | date: 'dd/MM/YYYY'}}</td>
        </tr>
    </tbody>
</table>

